
@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/materialize/css/materialize.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="orange darken-4">
    <header>
        <nav class="light-blue darken-1">
            <div class="nav-wrapper container">
                <a id="logo-container" asp-action="Modulos" asp-controller="Inicial" class="brand-logo">CPSI</a>
                <ul class="right">
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </nav>
    </header>

    <div class="white">
        @RenderBody()
    </div>
    <script type="text/javascript" src="~/lib/materialize/js/materialize.js"></script>
    
    @RenderSection("Scripts")
</body>

</html>
