
@{
    ViewData["Title"] = "Inicial";
}

<br>
<br>

<cliente tag="h1" class="header center orange-text"></cliente>
<div class="row center">
    <descricao-cliente class="header col s12 light" tag="h5"></descricao-cliente>
</div>
<br>
<br>


@section Scripts {
    
}