@model Educar.Negocio.Modelo.Turma

@{
    ViewData["Title"] = "Cadastrar Turmas";
}

<h4>Turma</h4>
<hr />

        <form asp-action="Cadastrar" method="post" asp-route-id="@Model.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-field">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="input-field">
                <label asp-for="Ano" class="control-label"></label>
                <input asp-for="Ano" class="form-control" />
                <span asp-validation-for="Ano" class="text-danger"></span>
            </div>
            <div class="input-field">
                <label asp-for="Horario" class="control-label"></label>
                <input asp-for="Horario" class="form-control" />
                <span asp-validation-for="Horario" class="text-danger"></span>
            </div>
            <div class="browser-default">
                <label asp-for="DataInicio" class="control-label"></label>
                <input asp-for="DataInicio" class="form-control" />
                <span asp-validation-for="DataInicio" class="text-danger"></span>
            </div>
            <div class="browser-default">
                <label asp-for="DataFim" class="control-label"></label>
                <input asp-for="DataFim" class="form-control" />
                <span asp-validation-for="DataFim" class="text-danger"></span>
            </div>
            <div class="input-field">
                <label asp-for="QtdVagas" class="control-label"></label>
                <input asp-for="QtdVagas" class="form-control" />
                <span asp-validation-for="QtdVagas" class="text-danger"></span>
            </div>
            <div>
                <partial name="_DisciplinasPartial"></partial>
                <br />
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>

<div>
    <a asp-action="Listar">Voltar à Listagem</a>
</div>

